[*]
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,py,json}]
charset = utf-8
charset = utf-8

[*.py]
indent_style = tab
indent_size = 4
tab_width = 4

[*.{json, js}]
indent_style = space
indent_size = 2
